<div class="row media-row">
  <a class="col-md-4 col-sm-6 col-xs-12" href="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img1 }}" data-toggle="lightbox" data-gallery="week-gallery">
    <img src="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img1 }}">
  </a>
  <a class="col-md-4 col-sm-6 col-xs-12" href="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img2 }}" data-toggle="lightbox" data-gallery="week-gallery">
    <img src="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img2 }}">
  </a>
  <a class="col-md-4 col-sm-6 col-xs-12" href="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img3 }}" data-toggle="lightbox" data-gallery="week-gallery">
    <img src="/classes/MAS.863/CBA/people/seanhickey/img/{{ include.subpath }}/{{ include.img3 }}">
  </a>
</div>